build/
dist/
.venv/
analisis_lexico/analisis.txt
analisis_lexico/comentarios.txt
analisis_lexico/errores.txt
analisis_lexico/
analisis_sintactico/
analisis_semantico/
__pycache__/
ide.spec
codigo.txt
pruebas_signos.txt
mini.txt